{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Car" %}{% endblock %}

{% block content %}
<p><strong>{% trans "Owner" %}: </strong>{{ car.client_name }}</p>
<p><strong>{% trans "Car" %}: </strong>{{ car.make }} {{ car.model }}</p>
<p><strong>{% trans "License plate" %}: </strong>{{ car.license_plate }}</p>
<p><strong>{% trans "VIN code" %}: </strong>{{ car.vin_code }}</p>
<div class="mt-4">
    <h3 class="fw-bold" style="font-family: 'Bebas Neue', sans-serif; font-size: 1.9rem; letter-spacing: 0px;">{% trans "Car description" %}:</h3>
    <div class="p-3 border border-secondary rounded bg-dark">
        {{ car.description|safe }}
    </div>
</div>
{% if car.cover %}
<img class="card-img-top mb-2" style="max-width: 20%" src="{{ car.cover.url }}">
{% endif %}
{% endblock %}