{% extends "base.html" %}

{% block title %}PRADŽIA{% endblock %}

{% block content %}
    <div class ="section1">
        <h1>Šiuo metu turime:</h1>
        <ul class="report-block">
            <li><strong>Automobilių:</strong> {{ num_car }}</li>
            <li><strong>Paslaugų:</strong> {{ num_service }}</li>
            <li><strong>Užsakymų:</strong> {{ num_order }}</li>
            <p>Čia jūs lankotės {{ num_visits }} kartą.</p>
        </ul>
    </div>

    <div class="section2">
        <h1>Kitas skyrius</h1>
        <p>Čia gali būti papildoma informacija.</p>
    </div>

{% endblock %}
