{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Order" %}{% endblock %}

{% block content %}
<p><strong>{% trans "Order" %}: </strong>{{ order.id }}</p>
<p><strong>{% trans "Date" %}: </strong>{{ order.date }}</p>
<p><strong>{% trans "Car" %}: </strong>
    {% if order.car %}
        {{ order.car.make }} {{ order.car.model }}
    {% else %}
        {% trans "There are no cars." %}
    {% endif %}
</p>

<div class="mt-4 mb-4">
    <h3 style="font-family: 'Bebas Neue', sans-serif; font-weight: 900;">{% trans "DESCRIPTION" %}:</h3>
    <div class="p-3 border border-secondary rounded bg-dark">
        {{ order.car.description|safe }}
    </div>
</div>
<div class="mt-3">
    <h3 style="font-family: 'Bebas Neue', sans-serif; letter-spacing: 0px; font-weight: 900;" class="fw-bold">{% trans "SERVICES" %}:</h3>

    {% if user.is_staff %}
        <a href="{% url 'order-line-create' order.id %}" class="btn btn-custom btn-sm mb-3">{% trans "Add service" %}</a>
    {% endif %}

    <div class="services-list">
        {% for line in order.lines.all %}
            <div class="d-flex justify-content-between">
                <span class="service-name text-uppercase" style="font-family: 'Bebas Neue', sans-serif; font-size: 1.6rem; letter-spacing: 1px;">
                    {{ line.service.name }}
                    <span class="text-muted" style="font-size: 1.2rem;">x {{ line.quantity }}</span>

                    {% if user.is_staff %}
                        <a href="{% url 'order-line-update' line.id %}" class="btn btn-custom btn-sm">{% trans "Edit" %}</a>
                        <a href="{% url 'order-line-delete' line.id %}" class="btn btn-red btn-sm">{% trans "Delete" %}</a>
                    {% endif %}
                </span>
                <span class="service-price fw-bold" style="font-family: 'Bebas Neue', sans-serif; font-size: 1.6rem;">
                    {{ line.line_sum }} €
                </span>
            </div>
        {% endfor %}
    </div>
</div>
<p class="mt-3"><strong>{% trans "Total" %}: </strong>{{ order.total }} €</p>
<hr>
<div>
    {% if user.is_staff %}
        <a class="btn btn-custom btn-sm mt-1 mb-1" href="{% url 'order-update' order.id %}">{% trans "Update order" %}</a>
        <a class="btn btn-red btn-sm mt-1 mb-1" href="{% url 'order-delete' order.id %}">{% trans "Delete order" %}</a>
    {% endif %}
</div>

<a href="{% url 'myorders' %}" class="btn btn-custom mt-3">{% trans "Back to my orders" %}</a>

<div class="row mt-5">
    <div class="col-md-8 mx-auto form-container">
        <h5>{% trans "Comments" %}</h5>

        {% if user.is_authenticated %}
        <div class="card bg-dark text-white border-secondary mb-4">
            <div class="card-body">
                <h5>{% trans "Leave a comment" %}</h5>
                <form method="post">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    <div class="custom-form-dark">
                        {{ form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-custom w-20">{% trans "Publish" %}</button>
                </form>
            </div>
        </div>
        {% endif %}

        {% if order.reviews.all %}
            {% for review in order.reviews.all %}
            <div class="review-item p-3 mb-3 border-bottom border-secondary">
                <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex align-items-center">
                            {% if review.reviewer.photo %}
                                <img src="{{ review.reviewer.photo.url }}" class="rounded-circle me-2" style="width: 45px; height: 45px; object-fit: cover;">
                            {% else %}
                                <div class="bg-secondary rounded-circle me-2" style="width: 45px; height: 45px;"></div>
                            {% endif %}
                            <strong class="text-uppercase reviewer-name">{{ review.reviewer }}</strong>
                        </div>
                        <small class="text-muted italic">{{ review.date_created | date:"Y-m-d H:i" }}</small>
                    </div>
                <p class="mt-2 review-content">{{ review.content }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-muted">{% trans "There are no comments yet." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}