{% extends "base.html" %}

{% block title %}Užsakymas{% endblock %}

{% block content %}
<p><strong>Užsakymas: </strong>{{ order.id }}</p>
<p><strong>Data: </strong>{{ order.date }}</p>
<p><strong>Automobilis: </strong>
    {% if order.car %}
        {{ order.car.make }} {{ order.car.model }}
    {% else %}
        Nėra automobilio
    {% endif %}
</p>

<div class="mt-3">
    <h3 style="font-family: 'Bebas Neue', sans-serif; letter-spacing: 0px; font-weight: 900;" class="fw-bold">PASLAUGOS:</h3>
    <div class="services-list">
        {% for line in order.lines.all %}
            <div class="d-flex justify-content-between">
                <span class="service-name text-uppercase" style="font-family: 'Bebas Neue', sans-serif; font-size: 1.6rem; letter-spacing: 1px;">
                    {{ line.service.name }}
                    <span class="text-muted" style="font-size: 1.2rem;">x {{ line.quantity }}</span>
                </span>
                <span class="service-price fw-bold" style="font-family: 'Bebas Neue', sans-serif; font-size: 1.6rem;">
                    {{ line.line_sum }} €
                </span>
            </div>
        {% endfor %}
    </div>
</div>
<p class="mt-3"><strong>Viso: </strong>{{ order.total }} €</p>
{% endblock %}
